<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>login success</h1>
<h2>
    <div th:if="${session!=null && session.SPRING_SECURITY_CONTEXT!=null}">
        <a href="/user/center">
        <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}">
         用户名
        </span>
        </a>
        <span class="welcome">
        <a class="reg" href="/logout" rel="nofollow">退出</a>
    </span>
    </div>
    <div th:if="${session==null}">
            <span class="welcome">
                <a class="btn-register" href="/user/login"
                   rel="nofollow"><span class="log">免注册登录</span></a>
            </span>
    </div>
</h2>
<h2>hi~Welcome</h2>
<a href="/">返回首页</a>
</body>
</html>